.env
.env.*
!.env.example
!**/.env.example

log/
tmp/
node_modules/
frontend/dist/
frontend/node_modules/
backend/log/
backend/tmp/
backend/vendor/bundle
backend/.bundle
coverage/
.DS_Store
backend/config/master.key
backend/config/credentials/*.key
*.swp
.idea/
.vscode/
