# See https://help.github.com/articles/ignoring-files for more about ignoring files.
#
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep
/config/master.key
/config/credentials/*.key
.env
.env.*
!.env.example
/.bundle
/vendor/bundle
/coverage
.DS_Store
*.swp
